<html>
    <header>
        <% include partials/header %>
        <script type="text/javascript" src = "/js/page.js"></script>
    </header>
    <body>
        <div class = "container">
            <span id = "title">
                <h2>Which poll?</h1>
            </span>
            <div id = "responseArea">
                <p><a class="btn green" id = "create_poll"><i class="material-icons left">add</i> Create Poll</a></p>
            </div>
        </div>
    </body>
</html>